html {
  background-image: url(images/winter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  padding-left: 0px;
}

canvas {
  border: 1px solid grey;
  display: block;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
  color: rgba(0, 51, 140, 1);
  background-color: rgba(0, 191, 255, 0.2);
}

h2 {
  padding-left: 196px;
  color: rgba(0, 51, 140, 1);
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  padding-left: 196px;
}
